body{
  font-family: 'Farro', sans-serif;
}

.john-deere-nav{
  box-shadow: 0.25px 0px 0.5px 0.25px #4d4949;
}

.together-bg{
  background-image: url(https://www.deere.com/assets/images/common/home-page/nogoingback-1366x347.jpg);
  background-repeat: repeat-x;
}

.footer-bg{
  background-color: #E5E6E6;
}

header, main, footer{
  background-color: white;
}

.card{
  min-width: 135px;
}

.max-width{
  max-width: 1300px;
}

:root {
  --theme-black: #333333;
  --theme-green: #367c2b;
}
/* *{
  outline: solid .5rem red;
} */
.fix-picture{
  object-fit: cover;
}
.background-image{
  background: url(https://www.deere.com/assets/images/common/home-page/may-homepage-jdstore.jpg);
}
.scnd-bg-img{
  background: url(https://www.deere.com/assets/images/common/home-page/ag-march-5m-teaser-632x384.jpg);
}
.thrd-bg-img{
  background: url(https://www.deere.com/assets/images/common/home-page/350g-lc-sg-632x384.jpg);
}
.frth-bg-img{
  background: url(https://www.deere.com/assets/images/common/home-page/768l-ii-skidder.jpg);
}
.fth-bg-img{
  background: url(https://www.deere.com/assets/images/common/home-page/deere-season-march-632x384.jpg);
}
.sxth-bg-img{
  background: url(https://www.deere.com/assets/images/common/home-page/buyonline3-nmb.jpg);
}
.bg-theme-black{
  background-color: var(--theme-black);
}
.first-card-img-top{
  background: url(//placeholder.it/100x100);
}
.bg-card-gray{
  background-color: #f4f3f3;
}
.btn-bg{
  background-color: var(--theme-green);
}
.btn-font-ylw{
  color: #f3da01;
  border: solid .25rem #f3da01;
}
.btn-font-ylw-no-otln{
  color:#f3da01;
}

@media screen and (min-width:1100px){
  body{
    background-color: #D5D5D5;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}